Azure/Databricks_And_DataFactory/DataFactory/pipeline/pipeline1.json
{
	"name": "pipeline1",
	"properties": {
		"activities": [
			{
				"name": "nt_raw_to_staging",
				"type": "DatabricksNotebook",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "datafactory_service",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "nt_staging_to_trusted",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "nt_raw_to_staging",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": []
			},
			{
				"name": "Error raw to staging",
				"type": "Fail",
				"dependsOn": [
					{
						"activity": "nt_raw_to_staging",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"message": {
						"value": "@pipeline().Pipeline",
						"type": "Expression"
					},
					"errorCode": {
						"value": "@activity('nt_raw_to_staging').output",
						"type": "Expression"
					}
				}
			}
		],
		"annotations": []
	}
}